# See: https://github.com/pangeo-forge/pangeo-forge-recipes/blob/master/.pre-commit-config.yaml

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: mixed-line-ending

-   repo: https://github.com/ambv/black
    rev: 22.6.0
    hooks:
    - id: black


-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    - id: flake8


-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    - id: seed-isort-config

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.971'
    hooks:
    -   id: mypy
        additional_dependencies:
          - 'pydantic'

-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

-   repo: https://github.com/myint/rstcheck
    rev: v6.0.0.post1
    hooks:
    -   id: rstcheck
