# this is used by Heroku to install the environment
# we should always be pinning specific versions for deployment
aiohttp==3.8.1
fastapi==0.71.0
gidgethub==5.1.0
sqlmodel==0.0.6
sqlalchemy==1.4.35  # https://github.com/tiangolo/sqlmodel/issues/315
alembic==1.7.5
pangeo-forge-runner==0.3

# for deployment
gunicorn==20.1.0
uvicorn==0.17.0
psycopg2-binary==2.9.3
