# this is used by Heroku to install the environment
# we should always be pinning specific versions for deployment
aiohttp==3.8.1
fastapi==0.71.0
gidgethub==5.1.0
sqlmodel==0.0.7  # https://github.com/tiangolo/sqlmodel/issues/315#issuecomment-1229239354
alembic==1.7.5
PyYAML==6.0
cffi

# for deployment
gunicorn==20.1.0
uvicorn==0.17.0
psycopg2-binary==2.9.3

# these will eventually move out of the app container, and instead be
# installed within the docker sibling container used for recipe handling
# pangeo-forge-runner==0.5 -> use this once released
git+https://github.com/yuvipanda/pangeo-forge-runner@main
gcsfs
s3fs

# for `/repr/xarray/` route
zarr
xarray>=2022.06
cftime
dask[complete]
