# this is used by Heroku to install the environment
# we should always be pinning specific versions for deployment
aiohttp==3.8.1
fastapi==0.71.0
gidgethub==5.1.0
sqlmodel==0.0.6
sqlalchemy==1.4.35  # https://github.com/tiangolo/sqlmodel/issues/315
alembic==1.7.5
PyYAML==6.0

# for deployment
gunicorn==20.1.0
uvicorn==0.17.0
psycopg2-binary==2.9.3

# these will eventually move out of the app container, and instead be
# installed within the docker sibling container used for recipe handling
# pangeo-forge-runner==0.4
git+https://github.com/cisaacstern/pangeo-forge-runner@dev
gcsfs
s3fs
